body {
    background: #F9F8F8;
}

textarea {
    width: 100%;
}

header {
    position: fixed;
    top: 4rem;
    right: 4rem;
}

.button {
    padding: 5px 10px;
    background: white;
    border-radius: 3px;
}

input {
    border: none;
    padding: 5px 10px;
}
