<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Le' Journal</title>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
        <meta name='author' content=''>
        <meta name="description" content="">
        <meta name='keywords' content='' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- DatCSS -->
        <link rel='stylesheet' href='/static/index.min.css'>
        <link rel='stylesheet' href='/static/style.css'>
        <link rel='stylesheet' href='/static/codehilite.css'>


    </head>

    <body>
        <div class='container'>
            <header>
                <p class='button'>
                    {% if not request.authenticated_userid %}
                    <a href='{{ request.route_url('login') }}'>Log in</a>
                    {% else %}
                    <a href='{{ request.route_url('logout') }}'>Log out</a>
                    {% endif %}
                </p>
            </header>

            {% block body %}{% endblock %}
        </div>

        <!-- Fonts via Typekit -->
        <script type='text/javascript' src='//use.typekit.net/miq6xoz.js'></script>
        <script type='text/javascript'>try{Typekit.load();}catch(e){}</script>

    </body>
</html>
