<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Le' Journal</title>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
        <meta name='author' content='Jacques Tardie <hi@jacquestardie.org>'>
        <meta name='keywords' content='Python, CodeFellows, Seattle, "Jacques Tardie"' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel='stylesheet' href='/static/index.min.css'>
    </head>

    <body>
        <header>
            <p>
                <a class='semibold' href='/'>Le' journal — </a>
                {% if not request.authenticated_userid %}
                <span><a href='{{ request.route_url('login') }}'>Login</a></span>
                {% else %}
                <span><a href='{{ request.route_url('logout') }}'>Logout</a></span>
                {% endif %}
            </p>
        </header>

        {% block body %}{% endblock %}

        <script src="//use.typekit.net/miq6xoz.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </body>
</html>
