
@import 'normalize.css';
@import 'reset.css';
@import 'buttons.css';
@import 'forms.css';
@import 'color.css';
@import 'spacing.css';
@import 'typography.css';
@import 'links.css';
@import 'lists.css';
@import 'tables.css';
@import 'layout.css';
@import 'flexbox.css';


/* Uncomment and redefine the variables below to change to the generated stylesheet. */
:root {

	/* TYPOGRAPHY */
	/* --ms3: ; */
	/* --ms2: ; */
	/* --ms1: ; */
	/* --ms0: ; */
	/* --copy-font:	; */
	--copy-font: freight-text-pro;
	/* --copy-font-weight: ; */
	/* --copy-font-color:	; */
	/* --heading-font: ; */
	/* --heading-font-color: ; */
	/* --heading-font-weight: ; */
	/* --monospace-font: ; */
	/* --line-height: ; */
	/* --font-weight-light: ; */
	/* --font-weight-book:	; */
	/* --font-weight-medium: ; */
	/* --font-weight-semibold: ; */
	/* --font-weight-bold: ; */
	/* --font-weight-black: ; */

	/* LINKS */
	--link-color: #222;
	--link-color-hover: #000;

	/* LAYOUT */	
	/* --container-width: ; */

}

.sans {
    font-family: freight-sans-pro;
}
article {
    text-align: justify;
}

header {
    position: fixed;
    top: 0;
}
header p {
    background: #FF5656;
    padding: 10px 20px;
    font-family: freight-sans-pro;
    transition: background 0.2s ease-in;
}
header p:hover { 
    background: #FF9D56;
    transition: background 0.2s ease-out;
}

header p a,
header p a:hover { color: white; }


pre {
    background: #f3f3f3;
    padding: 1em;
}

.light { color: #666; }
a.alert { color: #ff5656; }
a.alert:hover { color: #ff9d56; }
